*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #566573 ;
    width: 340px;
    height: 600px;
    text-align: center;
    margin: auto;
}

/* .answer{
    display: flex;
    gap: 70px;
    justify-content: center;
} */

.input{
   margin-top: 20px;
   height: 40px;
   border-radius: 9px;
   border: 1px solid white;
}

.button{
    width: 50px;
    height: 40px;
    border-radius: 9px;
   border: 1px solid white;
}